* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #243e63;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    padding-left: 20px;
}

.logo img {
    width: 30px;
}

.logo h2 {
    padding-left: 5px;
}

.navBar {
    width: 40%;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navBar a {
    text-decoration: none;
    transition: 0.3s;
}

.navBar a:hover {
    border-bottom: 1px solid #6415ff;
    color: #6415ff;
}

.log {
    width: 20%;
}

.log ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.log a {
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.log a:hover{
    background-color:  #6415ff;
}


.first-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243e63;
    height: 300px;
}


.first-card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.first-card .left h1 {
    font-size: 3rem;
}

.first-card .left span {
    color: #fff;
    background-color: #6415ff;
}
.first-card .left p {
   color: #a2a5ac;
}

.first-card .rigth {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.first-card .rigth img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.first-card .rigth svg {
    width: 100px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: -1;
    color: #6415ff;
}

.left-bottom {
    display: flex;
    align-items: center;
}

.left-bottom .command {
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #6415ff;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.left-bottom .command:hover {
    background-color: #243e63;
}

.left-bottom .chef {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.left-bottom .chef:hover {
    color: #6415ff;
}

.left-bottom .chef svg {
    margin-right: 10px;
}

.second-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243e63;
    height: 300px;
}

.second-card .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}


.second-card .rigth h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.second-card .rigth span {
    color: #fff;
    background-color: #6415ff;
}
.second-card .rigth p {
   color: #a2a5ac;
   margin-bottom: 20px;
}

.second-card .rigth .install {
    color: #6415ff;
    font-size: 10px;
    margin: 0;
}

.second-card .left {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}

.second-card .left img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.second-card .left svg {
    width: 100px;
    position: absolute;
    bottom: 40%;
    left: -30px ;
    z-index: -1;
    color: #6415ff;
}


.rigth-bottom button {
    border: 0;
    cursor: pointer;
    background-color: #6415ff;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    transition: 0.2s;
}

.rigth-bottom button:hover {
    background-color: #243e63;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

@media (max-width: 992px ) {
    body {
        height: 200vh;
        
    }
    
    .first-card {
        flex-direction: column;
        height: 100%;
    }
    
    .first-card .left {
        height: 100%;
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .first-card .left h1 {
        font-size: 2rem;
    }

    .first-card .rigth {
        justify-content: center;
        width: 100%;
    }
    .first-card .rigth img {
        width: 90%;
    }
    .first-card .rigth svg {
        bottom: -10px;
        right: 15px;
        width: 60px;
    }
    .second-card {
        flex-direction: column;
        height: 100%;
        margin-top: 50px;
    }
    .second-card .left {
        justify-content: center;
        width: 100%;
    }
    .second-card .left img {
        width: 90%;
    }

    .second-card .left svg {
        left: 182px;
        bottom: -30px;
    }
    
    .second-card .rigth {
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .second-card .rigth h1 {
        font-size: 2rem;
    }
}
