* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}



header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #243e63;
}

.logo {
    display: flex;
    align-items: center;
    width: 40%;
    padding-left: 20px;
}

.logo img {
    width: 30px;
}

.logo h2 {
    padding-left: 5px;
}

.navBar {
    width: 40%;
}

.navBar ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navBar a {
    text-decoration: none;
    transition: 0.2s;
}

.navBar a:hover {
    border-bottom: 2px solid #6415ff;
    color: #6415ff;
}

.log {
    width: 20%;
}

.log ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.log a {
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;
    transition: 0.3s;
}

.login {
    color: #fff;
    background-color: #6415ff;
}

.login:hover {
    opacity: 0.7;
}

.log a:hover{
    color: #fff;
    background-color:  #6415ff;
}


/* Menu Burger */
.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    top: -350px;
   background-color: #fff;
   border: 1px solid #a2a5ac;
   border-radius: 20px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    display: block;
    transition: 0.3s;
  }

  .sidenav .navLink:hover {
    color: #6415ff;
  }

  
  .sidenav img {
    width: 30px;
  }

  .sidenav .loginBurger a {
    color: #fff;
    background-color: #6415ff;
    border-radius: 10px;
    transition: 0.2s;
  }

  .sidenav .loginBurger:hover {
    background-color: #6415ff;
    border-radius: 10px;
    opacity: 0.7;
  }
  

  .sidenav.active {
    top: 0;
  }
  
 
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #6415ff;
  }
  
  .burger-icon span {
    visibility: hidden;
    display: block;
    width: 15px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }

  .container {
    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}


.first-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243e63;
    height: 300px;
}

.first-card.active {
    visibility: hidden;
}

.first-card .left .verify {
    visibility: hidden;
    width: 100%;
    color: #6415ff;
    text-align: center;
}

.first-card .verify.active {
    visibility: visible;
}


.first-card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
}

.first-card .left h1 {
    font-size: 3rem;
}

.first-card .left .skew {
    color: #fff;
    background-color: #6415ff;
    width: 70%;
    text-align: center;
    transform: skewX(-15deg);
}
.first-card .left p {
   color: #a2a5ac;
}

.first-card .rigth {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.first-card .rigth .blob {
    position: absolute;
    top: 0;
    left: -160px;
    z-index: -2;
}

.first-card .rigth img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.first-card .rigth .image.active {
    display: none;
}

.first-card .rigth iframe {
    display: none;
}

.first-card .rigth .frame.active{
    display: block;
}

.first-card .rigth svg {
    width: 100px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    z-index: -1;
    color: #6415ff;
    opacity: 0.3;
}

.left-bottom {
    display: flex;
    align-items: center;
}

.left-bottom .command {
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #6415ff;
    margin-right: 30px;
    cursor: pointer;
    transition: 0.2s;
}

.left-bottom .command:hover {
    background-color: #243e63;
}

.left-bottom .chef {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
}

.left-bottom .chef:hover {
    color: #6415ff;
}

.left-bottom .chef svg {
    margin-right: 10px;
}

.second-card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #243e63;
    height: 300px;
}

.second-card .rigth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}


.second-card .rigth h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.second-card .rigth .skew {
    color: #fff;
    background-color: #6415ff;
    width: 68%;
    transform: skewX(-15deg);
    text-align: center;
}
.second-card .rigth p {
   color: #a2a5ac;
   margin-bottom: 20px;
}

.second-card .rigth .install {
    color: #6415ff;
    font-size: 15px;
    margin: 0;
}

.second-card .left {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

.second-card .left .blob {
    position: absolute;
    top: 0;
    right: -150px;
   z-index: -2;
}

.second-card .left img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.second-card .left svg {
    width: 100px;
    position: absolute;
    bottom: 40%;
    left: -30px ;
    z-index: -1;
    color: #6415ff;
    opacity: 0.3;
}


.rigth-bottom button {
    border: 0;
    cursor: pointer;
    background-color: #6415ff;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    transition: 0.2s;
}

.rigth-bottom button:hover {
    background-color: #243e63;
}



@media (max-width: 1200px) {
    .logo {
        width: 20%;
    }
    .navBar {
        width: 55%;
    }
    .log {
        width: 25%;
    }
    .first-card .left .skew {
        width: 70%;  
    }
    .first-card .left {
        width: 60%;
    }
    .first-card .rigth {
        width: 25%;
    }
    .second-card .rigth {
        width: 60%;
    }
    .second-card .left {
        width: 25%;
    }
}

@media (max-width: 992px) {
    .second-card .rigth {
        width: 70%;
    }
    .first-card .left .skew {
        width: 90% ;
    }
}

@media (max-width: 769px ) {
    body {
        height: 200vh;
        
    }

    .navBar {
        visibility: hidden;
    }

    .log {
        visibility: hidden;
    }

    .burger-icon span {
        visibility: inherit
    }
    
    .first-card {
        flex-direction: column;
        height: 100%;
    }
    
    .first-card .left {
        height: 100%;
        width: 90%;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
    }

    .first-card .left h1 {
        font-size: 2rem;
    }

    .first-card .left .skew {
        width: 100%;  
    }

    .first-card .rigth {
        justify-content: center;
        width: 100%;
    }
    .first-card .rigth .blob {
        display: none;
    }
    .first-card .rigth img {
        width: 90%;
        height: 90%;
    }
    .first-card .rigth svg {
        bottom: -10px;
        right: 15px;
        width: 100px;
    }
    .second-card {
        flex-direction: column;
        height: 100%;
        margin-top: 50px;
    }
    .second-card .left {
        justify-content: center;
        width: 100%;
    }
    .second-card .left .blob {
        display: none;
    }
    .second-card .left img {
        width: 70%;
        height: 70%;
    }

    .second-card .left svg {
        left: 42%;
        bottom: 20px;
    }
    
    .second-card .rigth {
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .second-card .rigth h1 {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        font-size: 2rem;
    }
    .first-card .rigth .skew {
        width: 50%;  
    }
    
}
